In [1]:
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
from us import states

c = Census(census_key, year=2017)
gmaps.configure(api_key=gkey)

In [2]:
census_data = c.acs5.get(("NAME", "B19301_001E"), {'for': 'state:*'})

In [7]:
census_income_state = pd.DataFrame(census_data)
census_income_state = census_income_state.rename(columns={"B19301_001E":"INCOME","state":"STATE"})
census_income_state = census_income_state[["STATE","NAME","INCOME"]]
census_sort_income = census_income_state.sort_values("INCOME",ascending = False)

census_sort_income.head(10)

   STATE                  NAME   INCOME
8     11  District of Columbia  50832.0
7     09           Connecticut  41365.0
21    25         Massachusetts  39913.0
22    24              Maryland  39070.0
31    34            New Jersey  39069.0
29    33         New Hampshire  36914.0
47    51              Virginia  36268.0
33    36              New York  35752.0
2     02                Alaska  35065.0
49    53            Washington  34869.0